body {
    padding-top: 0;
}
#home-splash {
    background: #333;
    height: 75vh;
    color: white;
}
#home-splash a {
    color: white;
}
#home-splash a:hover {
    color: #ccc;
}
#home-splash .navbar {
    background: linear-gradient(to top,
                                rgba(0, 0, 0, 0),
                                rgba(0, 0, 0, 0.8));
    border: none;
    box-shadow: none;
}
#flag .small {
    color: #ccc;
}

#flag {
    margin: 0;
    text-align: left;
    float: left;
    font-size: 2em;
}

.menu-secondary ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-left: 10px;
    font-size: 0.8em;
}
.menu-secondary .navlist-menu-level-0 {
    font-weight: 600;
    font-size: 1.1em;
}
.menu-secondary .navlist-menu-level-1 {
    text-transform: none;
}
.menu-secondary .navlist-menu-level-2 {
    text-transform: none;

}
.menu-secondary li {
    margin: 0;
    padding: 0;
}
.menu-secondary li > a {
    padding: 0.2em 0 0.1em;
    color: #333;
    width: 100%;
    display: block;
    border-bottom: 1px solid #bbb;
}
.menu-secondary li > a:hover {
    text-decoration: underline;
}
