{% extends "super-base.html" %}
{% load pages_tags mezzanine_tags i18n staticfiles %}

{% block content %}

<div class="col-md-3">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3>{{page.title}}</h3>
            <h2>{{page.parent}}</h2>
        </div>
        <div class="panel-body">
            {% page_menu "pages/menus/secondary.html" page%}
        </div>
    </div>
    
</div>
<div class="col-md-9">
    <ul class="breadcrumb">
        {% spaceless %}
        {% block breadcrumb_menu %}{% page_menu "pages/menus/breadcrumb.html" %}{% endblock %}
        {% endspaceless %}
    </ul>
    <h2>{% block title %}{% endblock %}</h2>
{% block main %}

{% endblock %}
</div>
</div>
{% endblock %}
