{% extends "super-base.html" %}
{% load i18n mezzanine_tags staticfiles pages_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block header %}
<div id="home-splash"
     style="background: url('{% static 'img/puppies.jpg' %}') top center;
            background-size: cover;">
    
        {% page_menu "pages/menus/primary.html" %}

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2>{{ homepage.featured_box_heading }}</h2>
                    <p>{{ homepage.featured_box_content }}</p>
                    <a href="{{ homepage.featured_box_link }}"
                       class="btn btn-primary">{{ homepage.featured_box_button }}</a>
                </div>
            </div>
        </div>

</div>
</div>


{% endblock %}


{% block content %}
{% load static %}

<div class="row">
    <div class="col-md-4">
        {{ homepage.left_panel|richtext_filters|safe }}
    </div>
    <div class="col-md-4">
        {{ homepage.center_panel|richtext_filters|safe }}
    </div>
    <div class="col-md-4">
        {% load blog_tags keyword_tags %}
        {% blog_recent_posts 5 as recent_posts %}
        {% if recent_posts %}
        <h2>Latest Blog Post</h2>
        <h4><a href="{{ recent_post.get_absolute_url }}">
                {{ recent_post.title }}
        </a></h4>
        {{ recent_post.description_from_content|safe }}
        {% endif %}
    </div>
</div>



{% endblock %}
