{% extends "super-base.html" %}
{% load i18n mezzanine_tags staticfiles pages_tags %}

{% block meta_title %}{% trans "Home" %}{% endblock %}
{% block title %}{% trans "Home" %}{% endblock %}

{% block breadcrumb_menu %}
<li class="active">{% trans "Home" %}</li>
{% endblock %}


{% block header %}
<div id="home-splash"
     style="background: url('{% static 'img/puppies.jpg' %}') top center;
            background-size: cover;">
    
        {% page_menu "pages/menus/primary.html" %}

        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <h2>{{ homepage.featured_box_heading }}</h2>
                    <p>{{ homepage.featured_box_content }}</p>
                    <a href="{{ homepage.featured_box_link }}"
                       class="btn btn-primary">{{ homepage.featured_box_button }}</a>
                </div>
            </div>
        </div>

</div>
</div>


{% endblock %}


{% block content %}
{% load static %}

<div class="row">
    <div class="col-md-4">
        {{ homepage.left_panel|richtext_filters|safe }}
    </div>
    <div class="col-md-4">
        {{ homepage.center_panel|richtext_filters|safe }}
    </div>
    <div class="col-md-4">
        <h3>Blog</h3>
        <h4><a href="#">We have a new website!</a></h4>
        <p><i>by Saul Chasin</i></p>
        <p>We have a newly minted website here, intended to help increase the
            visibility and accessiblity of the student Senate.</p>
    </div>
</div>



{% endblock %}
